
@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>


@using (Html.BeginForm())
{
    <div class="form-horizontal">
        <div class="row">
            <div class="col-md-4">
                <input type="button" id="LoadDepartmentList" value="Load Department" class="btn btn-success" />
            </div>
            <div class="col-md-4">
                @*        id should be the foriegn key of property*@
                <select id="DepartmentId" class="form-control">
                    <option>--SELECT--</option>
                </select>
            </div>
            <div class="col-md-4">
                <select id="StudentId" class="form-control">
                    <option>--SELECT--</option>
                </select>
            </div>
        </div>
        


        

        
    </div>
}
@section scripts
{

    <script src="~/Scripts/ProjectScripts/Student/StudentCreate.js"></script>
}
